@font-face {
     src: url("ABeeZee-Regular.ttf");
}

@font-face {
     src: url("Roboto-Regular.ttf");
}

@font-face {
     src: url("Raleway-Regular.ttf");
}

.scroll-pane > *.view-port{
	-fx-background-color: rgba(0,0,0,0);
}

.log-scroll,
.log-scroll > .scroll-bar:vertical > .track,
.log-scroll > .scroll-bar:vertical > .increment-button,
.log-scroll > .scroll-bar:vertical > .increment-button > .increment-arrow,
.log-scroll > .scroll-bar:vertical > .decrement-button,
.log-scroll > .scroll-bar:vertical > .decrement-button > .decrement-arrow,
.log-scroll > .scroll-bar:vertical > .track-background{
    -fx-background-color: transparent;
    -fx-fill: transparent;
    -fx-pref-width: 1px;
    -fx-background-radius: 0;
}

.log-scroll > .scroll-bar:vertical > .thumb{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-pref-width: 1px;
}